<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content1 %}
    {% for note in note_unread %}
        <li>{{ note.actor }}{{ note.verb }}{{ note.target }}</li>
        <a href="{% url 'photo:change_unread'%}?notice_id={{ note.id }}">
        <li>已读</li>
        </a>
    {% endfor %}
{% endblock %}
<HR>
{% block content2 %}
    {% for note in note_read %}
        <li>{{ note.actor }}{{ note.verb }}{{ note.target }}</li>
        <a href="{% url 'photo:change_read'%}?notice_id={{ note.id }}">
        <li>删除</li>
        </a>
    {% endfor %}

{% endblock %}
</body>
</html>