<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'photo:index' %}">首页</a>
<a href="{% url 'photo:uploadphoto' %}">上传图片</a>
<a href="{% url 'photo:mylike' %}">我的喜欢</a>
<a href="{% url 'photo:mynotifications' %}">我的消息</a>
<a href="{% url 'photo:logout' %}">登出</a>
{% for photo in photos %}
    <img src="/{{ photo.thumbimage }}"/>
    <a href="/delete/{{ photo.id }}/">删除</a>
{% endfor %}
{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">下一页</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

</body>
</html>