<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<script type="text/javascript">
    var countdown = 60
    function settime(obj) {
        if(countdown == 0 ){
            obj.removeAttribute('disable');
            obj.value = '免费获取验证码';
            countdown = 60;
            return;
        }else{
            obj.setAttribute('disable', true);
            obj.value = '重新发送(' + countdown + ")";
            countdown--;
        }
    setTimeout(function() {
    settime(obj) }
    ,1000)
    }
</script>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ u.as_table }}
        </table>
        <input type="text" name="phone_code" id="check_code" placeholder="请输入验证码">
        <input type="button"  id="code"  value="获取验证码">
        <input type="submit"  name="提交">
    </form>
</body>
</html>